﻿@model Colossus.ViewModels.CalculatorVM

@using(Html.BeginForm())
{
    <h3>Colossus Calculator:</h3>
    <p>Enter a monetary value and the system will tell you the smallest number of notes and coins possible to total that amount</p>
    <div>
        @Html.Raw("£")@Html.TextBoxFor(m => m.Total)
        @Html.ValidationMessageFor(m => m.Total)
    </div>
    <input type="button" onclick="calculateDenominations(document.getElementById('Total').value);" value="Calculate (JavaScript)" />
    <input type="submit" value="Calculate (MVC Action)" />

    <p id="output">@Html.Raw(@ViewBag.Output)</p>
}